<div class="outer-container">
    <div class="inner-container">
        <form [formGroup]="form">
            <h1>
                Log In
            </h1>

            <mat-form-field MatFormFieldControl="email" color="accent" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput id="email" formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field MatFormFieldControl="password" color="accent"  appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput id="password" formControlName="password" type="password">
            </mat-form-field>

            <button class="fw-btn" [disabled]="form.invalid" mat-flat-button color="primary" type="submit" (click)="login()">
                Log In
            </button>
            
            <button class="fw-btn" mat-flat-button color="accent">
                Forgot Password
            </button>
            <button class="fw-btn" mat-stroked-button color="accent" routerLink="/register">
                Register
            </button>
        </form>
    </div>
</div>