<mat-toolbar color="primary">
    Transportation
    <div class="spacer"></div>
    <mat-chip-listbox>
        <mat-chip-option (click)="refreshCarpools('open')" [selected]="tag=='open'">open</mat-chip-option>
        <mat-chip-option (click)="refreshCarpools('closed')" [selected]="tag=='closed'">closed</mat-chip-option>
        <mat-chip-option (click)="refreshCarpools('joined')" [selected]="tag=='joined'">joined</mat-chip-option>
    </mat-chip-listbox>
    <div class="toolbar-nav-buttons">
        <button mat-flat-button color="primary" routerLink="/transportation/shuttle">Shuttle</button>
        <button mat-flat-button color="primary" routerLink="/transportation/carpool" disabled>Carpool</button>
    </div>
</mat-toolbar>
<div class="outer-container">
    <div class="inner-container">
        <div class="card-container">
            <mat-card class="item-card" *ngFor="let carpool of carpools">
                <mat-card-header>
                    <mat-card-subtitle>{{carpool.destination}}</mat-card-subtitle>
                    <mat-card-title>{{carpool.group_name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <span class="card-text-header">MEMBERS</span><br>
                        <span *ngFor="let member of carpool.members">
                            <span *ngIf="member == carpool.owner">(Owner)</span>
                            {{member.first_name}} {{member.last_name}}<br>
                        </span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="joinGroup(carpool.id)" [disabled]="carpool.status=='closed' || carpool.members!.indexOf(user) > -1 ">
                        <span *ngIf="carpool.members!.indexOf(user) == -1">JOIN</span>
                        <span *ngIf="carpool.status=='closed' && carpool.members!.indexOf(user) == -1">CLOSED</span>
                        <span *ngIf="carpool.members!.indexOf(user) > -1">JOINED</span>
                    </button>
                    <button mat-button *ngIf="carpool.members!.indexOf(user) > -1" [routerLink]="['/transportation/view']" [queryParams]="{ id: carpool.id}">VIEW</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <button class="fab-button" (click)="createGroup()" mat-fab><mat-icon>add</mat-icon></button>
    </div>
</div>