<mat-toolbar class="mat-toolbar" color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Best Community Service</span>
  <span class="spacer"></span>
  <button mat-stroked-button routerLink="/account">
    <span>{{user.first_name}}</span>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list class="item-list">
      <a *ngFor="let p of pages" class="item-link" mat-list-item routerLink={{p.link}}>
        <span class="item-text">{{p.name}}</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
