<mat-toolbar class="mat-toolbar" color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Best Community Service</span>
  <span class="spacer"></span>
  <button *ngIf="authService.isLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="authService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" closed>
    <mat-nav-list class="item-list">
      <a *ngFor="let p of pages" class="item-link" mat-list-item routerLink={{p.link}}>
        <span class="item-text">{{p.name}}</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>