<h2 mat-dialog-title>Request {{activity.name}}</h2>
<mat-dialog-content>
    <form [formGroup]="homecareSelectForm">
        <div class="form-field-100">
            <mat-form-field class="form-element form-field-50" MatFormFieldControl="start_date" appearance="fill">
                <mat-label>Rent Date</mat-label>
                <input matInput [matDatepicker]="start_picker" formControlName="start_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="start_picker"></mat-datepicker-toggle>
                <mat-datepicker #start_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="form-element form-field-25" MatFormFieldControl="time" appearance="fill">
                <mat-label>Time</mat-label>
                <input matInput id="time" formControlName="time">
            </mat-form-field>
            <mat-form-field class="form-element form-field-25" MatFormFieldControl="duration" appearance="fill">
                <mat-label>Duration</mat-label>
                <input matInput id="duration" formControlName="duration">
            </mat-form-field>
        </div>
        <div class="form-field-100">
            <mat-form-field class="form-element form-field-75" MatFormFieldControl="ccn" appearance="fill">
                <mat-label>Credit Card Number</mat-label>
                <input matInput id="ccn" formControlName="ccn">
            </mat-form-field>
            <mat-form-field class="form-element form-field-25" MatFormFieldControl="cvv" appearance="fill">
                <mat-label>CVV</mat-label>
                <input matInput id="cvv" formControlName="cvv">
            </mat-form-field>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [disabled]="homecareSelectForm.invalid" (click)="onSubmit()" type="submit">Request</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>