<h2 mat-dialog-title>Add an Assignment</h2>
<mat-dialog-content>
    <form [formGroup]="addAssignmentForm">
        <mat-form-field class="form-full-size" MatFormFieldControl="name" appearance="fill">
            <mat-label>Assignment Name</mat-label>
            <input matInput id="name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="form-full-size" MatFormFieldControl="description" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput id="description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field MatFormFieldControl="date" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit" (click)="onSubmit()" mat-dialog-close cdkFocusInitial>Add</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>