<mat-toolbar color="primary">
    <button mat-mini-fab [routerLink]="['/course']" [queryParams]="{tab: 'current'}"><mat-icon>chevron_left</mat-icon></button>
    {{course.name}}
</mat-toolbar>
<div class="card-container">
    <div>
        <span style="font-size: .75rem; font-weight: 700;">PROFESSOR</span><br>
        {{course.professor}}
    </div>
    <div>
        <span style="font-size: .75rem; font-weight: 700;">DESCRIPTION</span><br>
        {{course.desc}}
    </div>
    <div>
        <span style="font-size: .75rem; font-weight: 700;">DURATION</span><br>
        <span>{{course.start_date.toLocaleString(undefined, {year: "numeric", month: "short", day: "numeric"})}}</span> -
        <span>{{course.end_date.toLocaleString(undefined, {year: "numeric", month: "short", day: "numeric"})}}</span>
</div>