:host ::ng-deep .mat-drawer-container {
    background-color: #3f51b5 !important;
}

.container {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.content-container h1, h2 {
    text-align: center;
}

.corner-btn {
    padding: 1rem;
    margin: 1rem;
    position: absolute;
    right:0;
}

mat-card {
    cursor: pointer;
}