/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-drawer-content {
    overflow-x: hidden;
}

mat-drawer-container {
    height: 100vh;
}

.outer-container {
    height: 100%;
    width: 100%;
}

.inner-container {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    column-gap: 50px;
    row-gap: 50px;
    display: grid;
}

.item-card {
    height: 300px;
    min-height: 200px;
}

.full-card {
    height: 250px;
    vertical-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    row-gap: 25px;
}

mat-card{
    display:flex;
    flex-direction: column;
    overflow: auto;
}

mat-card-header {
    flex-shrink: 0;
}

mat-card-content{
    flex-grow: 1;
    overflow: wrap;
}

.page-header {
    background-color: #3F51B5;
    padding: 2em 2em 1em 2em;
}

.page-header h1 {
    font-size: 1.3rem !important;
    font-weight: 300;
    color: white;
}
.spacer {
    flex: 1 1 auto;
}

.fab-button {
    position: fixed !important;
    right: 20px;
    bottom: 20px;
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen 
and (min-width : 321px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop and Laptop */
@media only screen 
and (min-width : 1224px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large screens */
@media only screen 
and (min-width : 1824px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}