<mat-toolbar color="primary">
    Rent
    <div class="spacer"></div>
    <mat-chip-listbox aria-label="Renting selection">
        <mat-chip-option (click)="loadRentables('Rooms')" [selected]="currentFilter=='Room'">Room</mat-chip-option>
        <mat-chip-option (click)="loadRentables('Equipment')" [selected]="currentFilter=='Equipment'">Equipment</mat-chip-option>
        <mat-chip-option (click)="loadRentables('Cater')" [selected]="currentFilter=='Cater'">Catering</mat-chip-option>
    </mat-chip-listbox>
</mat-toolbar>
<div class="content-wrapper">
    <div>
        <h2>{{currentFilter}}</h2>
        <div class="card-container">
            <mat-card class="item-card" *ngFor="let Rentable of filtered_rentables">
                <mat-card-header>
                    <mat-card-subtitle>{{Rentable.desc}}</mat-card-subtitle>
                    <mat-card-title>{{Rentable.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <span class="price">PRICE</span><br>{{Rentable.price}}.00$ USD
                    </p>
                    
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="openRentMenu(Rentable.id)" mat-button>RENT</button>
                    <button mat-button>CONTACT</button>
                    <div class="spacer"></div>
                    <span class="quantity">{{Rentable.quantity}} Left</span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>